<section id="main_content">
</section>
<section id="code">
  <% unless !@message %>
  <section class="coded_message">
    <hgroup>
      <h2>your message has been coded in time:</h2>
      <h1><%= @message.message_coded %></h1>
    </hgroup>
    <nav class="social_media">
      <a href="http://www.facebook.com/share.php?u=<%= page_url %>/decode&amp;t=Decode+My+Message+on+ItsSuperMurgitroid" class="facebook" target="_new">Post on facebook</a>
      <a href="http://twitter.com/home?status=<%= @message.message_coded%> %23itsSM"  target="_new" class="twitter">Tweet</a>
      <a href="mailto:" class="email">Send with email</a>
    </nav>
  </section>
  <% end %>
  <%= render 'code' %>
  <section id="code_wheel">
    <img class="outer" src="/assets/wheels/1/outer.png" />
    <img class="inner" src="/assets/wheels/1/inner.png" />
  </section>
</section>
<section id="decode">
  <form action="/decoded" method="POST" id="new_decode">
    <section class="fields">
      <label for="decode_master"><span>1.</span>Pick a Master Code ( 1&ndash;9 )</label>
      <input type="number" name="decode_master" min="1" max="9" id="decode_master" value="" maxlength="1">
      <label for="decode_key_b"><span>2.</span>Pick 2 Characters to Use as a Key</label>
      <input type="text" id="decode_key_a" name="decode_key_a" value="" maxlength="1">
      <span for="decode_key_a">=</span>
      <input type="text" id="decode_key_b" name="decode_key_b" value="" maxlength="1">
    </section>
    <section class="message">
      <label for="decode_message"><span>3.</span>Type Your Message</label>
      <textarea name="decode_message" id="code_message" maxlength="134"></textarea>
    </section>
    <section class="submit_area">
      <label for="decode_submit"><span>4.</span></label>
      <input type="submit" id="decode_submit" value="Decode the Message!" class="submit">
    </section>
  </form>
  <section id="decode_wheel">
    <img class="outer" src="/assets/wheels/1/outer.png" />
    <img class="inner" src="/assets/wheels/1/inner.png" />
  </section>
</section>
<section id="decoded" class="coded_message">
  <hgroup>
    <h2>your decoded message is:</h2>
    <h1><%= @decoded if !@decoded.nil? %></h1>
  </hgroup>
  <a href="#code" class="new_code">Code a New Message</a>
  <div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId  : '145488605507689',
        status : true, // check login status
        cookie : true, // enable cookies to allow the server to access the session
        xfbml  : true, // parse XFBML
        oauth  : true // enable OAuth 2.0
      });
    };
    var cssLink = document.createElement("link");
    cssLink.href = "/assets/fb.css"; 
    cssLink.rel = "stylesheet"; 
    cssLink.type = "text/css"; 
    frame = document.getElementsByTagName('iframe');
    frames[frame[0].name].document.head.appendChild(cssLink);
  </script>
  <a href="http://www.facebook.com/pages/itsSM/134895206573228" class="facebook_like">Code a New Message</a><fb:like href="http://www.facebook.com/pages/itsSM/134895206573228" width="150" height="80" ref="facebook_like" />
  
</section>
<section id="about">
  <h1>HOW IT WORKS</h1>
  <article>
    <h2>CODING A MESSAGE</h2>
    <h3>#1  CHOOSE A MASTER CODE & KEY COMBINATION:</h3>
    <p>LET ALL YOUR FRIENDS KNOW WHAT KEY YOU ARE USING. WHISPER IT TO THEM. PASS THEM A NOTE. SEND A PERSONAL TEXT MESSAGE.
    WRITE IT LIKE THIS: MASTER 1, S=K.</p>
    <h3>#2  CODE YOUR MESSAGE:</h3>
    <p>ENTER YOUR KEY INTO THE KEY FIELDS. WRITE YOUR MESSAGE. KEEP IT TO 137 CHARACTERS; ONLY LETTERS, NUMBERS AND SPACES. HIT THE “CODE MY MESSAGE” BUTTON.</p>
    <h3>#3  SEND YOUR SECRET MESSAGE:</h3>
    <p>HIT THE “TWITTER” OR “FACEBOOK” BUTTON TO SEND YOUR MESSAGE. EVERYONE CAN SEE YOUR CODED MESSAGE, BUT ONLY YOUR FRIENDS WHO HAVE THE SECRET KEY WILL BE ABLE TO DECODE IT.</p>
  </article>
  <article>
    <h2>DECODING A MESSAGE</h2>
    <h3>#1  THE KEY:</h3>
    <p>YOUR FRIEND GAVE YOU A KEY LIKE THIS: MASTER 1, S=K. ENTER THE KEY INTO THE KEY FIELDS.
    <h3>#2  THE CODED MESSAGE:</h3>
    <p>COPY THE SECRET CODED MESSAGE FROM TWITTER OR FACEBOOK TO THE TOP FIELD ON THE “DECODE MESSAGE” PAGE.</p>
    <h3>#3  DECODING THE MESSAGE:</h3>
    <p>LOOK AT THE FIRST LETTER IN THE CODED MESSAGE. FIND IT ON THE OUTER CODE-O-GRAPH WHEEL. FIND THE CORRESPONDING LETTER ON THE INNER WHEEL. TYPE THIS INTO THE BOTTOM FIELD ON THE “DECODE MESSAGE” PAGE. REPEAT UNTIL ALL LETTERS ARE TRANSLATED. REMEMBER THAT THE SPACES WILL NOT BE IN THE CORRECT PLACES. RUSHED? FRENEMIES CLOSING IN? USE THE "AUTO DECODE" BUTTON.</p>
  </article>
  <% if !@agent.nil? %>
    <p><a href="mailto:keen@its-supermurgitroid.com">keen@its-supermurgitroid.com</a></p>
  <% end %>
  <a class="terms_link" href="#terms">Terms &amp; Conditions</a>
</section>
<section id="faqs">
  <h1>WHAT CAN YOU DO WITH THE CODE-O-GRAPH?</h1>
  <article>
  <ul class="faqlist">
    <li>keep the party location secret</li>
    <li>recruit secret club members</li>
    <li>signal a meet-up</li>
    <li>broadcast exciting adventures</li>
    <li>DEFEND AGAINST TRAITOROUS PLOTS</li>
    <li>plan a surprise party</li>
    <li>signal to trusted friends</li>
    <li>keep official secrets secret</li>
    <li>signal to gain admittance</li>
    <li>DON’T allow outsiders to catch on</li>
    <li>keep them guessing</li>
    <li>mystify your friends</li>
    <li>show you are a trusted member of the club</li>
    <li>keep safe from prying eyes</li>
    <li>tell them what fun you are having</li>
    <li>share things you COULDN’T before</li>
  <ul> 
  </article>
</section>
<section id="terms">
  <h1>Secret Pledge</h1>
  <article class="terms">
    <h2>SECRET PLEDGE</h2>
    <p>Are you ready to take the secret pledge of membership? Be admitted to the inner circle by taking the pledge today. Repeat after us: “i pledge to learn the secret code well, keep my decoder secure and learn to operate it safely. I will be ready for action!”
    <h2>TERMS AND CONDITIONS OF USE</h2>
    <p>If you participate in any way within this website you agree to follow our terms set forth below.</p>
    <p>By entering its-supermurgitroid.Com (the “website”), you acknowledge and agree to the following terms and conditions (the “agreement”). If you do not agree to these terms and conditions, do not enter and/or use this website. You acknowledge that you are at least 13 years old. You acknowledge and agree that you are entering the website freely and voluntarily.</p>
    <h2>Information collection and use</h2>
    <p>Some information is stored from each message that is coded. This currently includes the following: time and date, ip address(es), uncoded message and associated key.</p>
    <h2>Coded messages and other public information</h2>
    <p>Our services are primarily designed to help you share information in a fun format with your friends on social media website(s), emails, and other traditional writen communications in view of the public (rest of the world.) the information you provide to us is information you are asking us to make public. This includes not only the messages you send, but the other bits of information we store. You should always be careful that all information that you post obides by all local and national laws along with the terms of service of this site.</p>
  <article>
</section>
<section id="contact">
  <h1>Contact Us</h1>
  <%= render 'contact' %>
</section>
