<!DOCTYPE html>
<html dir="ltr" lang="en-US" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>Murgitroid</title>
    <meta name="Robots" content="noindex,nofollow" />
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="apple-touch-icon" href="/assets/fb_icon.ico"/>
    <%= stylesheet_link_tag "style" %>
    <noscript><%= stylesheet_link_tag "noscript" %></noscript>
    <%= csrf_meta_tags %>
    <meta property="og:site_name" content="Its-SuperMurgitroid" /> 
    <meta property="og:image" content="/assets/fb_icon.png" /> 
  </head>
  <body>
    <div id="maps" class="wide">
      <img src="<%= @images[0] %>" />
    </div>
    <div id="people" class="wide">
      <% if (request.fullpath != root_path) %>
      <img src="<%= @images[1] %>" />
      <% end %>
    </div>
    <div id="header"></div>
    <div id="wrapper">
      <% if (request.fullpath == root_path) %>
        <nav id="main">
          <a href="/page/code">Code Message</a>
          <a href="/page/decode">Decode Message</a>
          <a href="/page/about">About</a>
          <a href="/page/faqs">FAQs</a>
          <a href="/page/terms">Terms</a>
          <a href="/page/contact">Contact</a>
        </nav>
      <% else %>
        <header>
          <hgroup>
            <h1><a href="<%= root_url %>">its Supermurgitroid</a></h1>
            <h2>code and decode secret messages - post on facebook and twitter</h2>
          </hgroup>
          <nav id="main">
            <a href="#code">Code Message</a>
            <a href="#decode">Decode Message</a>
            <a href="#about">How It Works</a>
            <a href="#faqs">FAQs</a>
            <a href="#terms">Terms</a>
            <a href="#contact">Contact</a>
            <a href="#decoded" id="decoded_link">Decoded</a>
          </nav>
        </header>
      <% end %>
      <section id="content">
        <%= yield %>
      <section>
    </div>
    <%= javascript_include_tag "jquery", "underscore", "backbone", "raphael", "app" %>
  </body>
</html>
